# SPDX-FileCopyrightText: Florian Maurer
#
# SPDX-License-Identifier: Apache-2.0

# assume-framework
# amiris-py
matplotlib
streamlit
pandas
sphinx
cattrs
attrs
streamlit-echarts
tables
streamlit-option-menu
pyecharts
qrcode
streamlit-extras