# SPDX-FileCopyrightText: Florian Maurer and German Aerospace Center
#
# SPDX-License-Identifier: CC0-1.0

# assume-framework
# amiris-py
matplotlib
streamlit>=1.33.0
pandas
sphinx
cattrs
attrs
streamlit-echarts
tables
streamlit-option-menu
pyecharts
qrcode
streamlit-extras